@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');
:root {
    --main-bg-color: #2874f0;
  }
  

*{
    padding: 0;
    margin: 0;
}


header{
    
background: var(--main-bg-color);
border: 2px solid red;
font-family: 'Lato', sans-serif;
}
nav{
    display: flex;
}
.logo{
    display: flex;

}
.logo img{
    width:100px;
    padding: 12px 25px;
}
nav ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 58px;
    
}
nav ul li {
    list-style:none;
    padding: 0 23px;
}
nav ul li a{
    color:white;
    text-decoration: none;
    
}
nav ul li a:hover{
    color:rgb(199, 199, 199);
    font-weight: bold;
    
}
.search{
    display: flex;
    align-items: center;
    
}
.search input{
    width: 215px;
    height: 21px;
    border-radius: 5px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
}

.container{
    min-height:calc(100vh - 58px - 12vh)
}
.slider{
    margin: auto;
    width: 95vw;
    margin: 12px auto;
    overflow: hidden;
    
    
}
.card{
    max-width: 87vw;
    margin: auto;
   
}
.cards{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width:10vw;
    margin: 0 15px;
}


.card h2{
    font-family: 'Grechen Fuemen', cursive;

}

footer{
    height: 12vh;
    background-color:var(--main-bg-color);
    color:white;
    font-family: 'Lato', sans-serif;
    
}